body{
   margin:0;
   text-align: center;
   font-family: "Merriweather",serif;
}
h1{
    margin:0 auto;
    width:10%;
    font-family: "Sacramento",cursive;
    font-size: 5.625rem;
    display: inline;
    margin: 200px auto 0 auto;
    color:  #66BFBF;
   
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color:  #66BFBF;
    font-weight: normal;
}
h3{
    color:#11999E;
}
a{
    color:#11999E;
}
div{
    background-color: #E4F9F5; 
}
.top-cloud{
    height: 80px;
    width: 80px;
    position: absolute;
    top:300px;
    right: 200px;
}
.bottom-cloud{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 300px;
    bottom: 500px;
}
.top-container{
    position: relative;
    padding: 100px;

}
.mountain{
    height: auto;
    width: 500px;
}
